@import 'tailwindcss';

@theme {
  /* Font family */
  --font-roboto: 'Roboto', sans-serif;

  --color-primary: #200f6f;
  --color-secondary: #260f96;
  --color-tertiary: #bbb8cb;
  --color-quaternary: #161122;

  /* Very dark blue/near black */
  --color-very-dark-blue: #161122;

  /* medium purple */
  --color-medium-purple: #4f4289;

  /* CTA Buttons / highlights */
  --color-accent: #ffa500;
}

@utility container {
  @apply mx-auto px-4;
}

/* Custom styles */

@layer utilities {
  .fade-left-and-right {
    /* fade left/right edges */
    -webkit-mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
    );
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
  }
}
